# Base URL where files can be retrieved from.
ASSET_BASE_URL=http://localhost:3000

# URL pointing to a database. SQLite is discouraged for production.
DATABASE_URL=postgres://username:password@localhost:5432/database

# Secret for signing cookies. Must be at least 32 ASCII characters. Make sure to
# generate a cryptographically secure one!
SESSION_SECRET=0123456789abcdef0123456789abcdef

# Shared secret between the front-end and the back-end. This is crucial for
# on-demand ISR, so be sure to generate a cryptographically secure one!
WEBHOOK_SECRET=0123456789abcdef0123456789abcdef
